html, body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: auto;
}
blockquote {
  margin: 0;
  color: black !important;
}
blockquote > *{
  padding: 0.3em 0.7em;
  background-color: rgb(235, 235, 235);
  border-radius: 0.5em;
}
td code,
p code {
  background-color: #272822;
  color: white;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}
pre {
  background-color: #272822;
  color: white;
  padding: 1em;
  border-radius: 1em;
}
kbd {
  /* button-like */
  background-color: #f7f7f7;
  color: black;
  box-shadow: 0 0 0.2em black;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
}